#content {
    text-align: center;
    margin: 130px auto auto;
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
    font-size: 2rem;
}

#logo {
    margin: 15px 0 0 20px;
    width: 70px;
}

#name {
    border-radius: 1rem;
    font-size: 15px;
    margin-right: 5px;
    padding: 10px 15px;
}

.btn {
    background-color: white;
    color: #4856AB;
    border: none;
    padding: 12px 20px;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
}

.btn:hover {
    background-color: #EEEEEE;
}

#background-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    visibility: hidden;
}