#content {
    text-align: center;
    margin: 150px auto auto;
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
}

#date, #time {

}

#logo {
    margin: 15px 0 0 20px;
    width: 70px;
}

#background-img {
    background-repeat: no-repeat;
    background-size: cover;
}
